{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h2>Post</h2>
    <ul>
        <li>
            <a href="{{ path('post_index') }}">Post Index</a>
        </li>
        <li>
            <a href="{{ path('post_new') }}">New Post</a>
        </li>
    </ul>
        <tr>
        </tr>
{% endblock %}
